<div class="row">
	<div class="col-lg-12>">
		&nbsp;&nbsp;&nbsp;&nbsp;<a href="/project/new" class="btn btn-danger"><i class="glyphicon glyphicon-plus"></i> New Project</a>
	</div>
</div>

<br>

<div class="row">

	<% for (var prop in project_list) { %>
		<%- partial('../partials/project_list.ejs', {project: project_list[prop]})%>
    <% } %>

</div><!-- .row -->

<!-- //load modal for deactivate project  -->
<%- partial('../partials/modals/deactivate_project.ejs')%>

<script>

	function setProjectAsInactive(project_id){
		$('#deactivate-id').val(project_id);
		$('#modal-confirm').modal('show');
	}
</script>