    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>  
          <a class="navbar-brand" href="/">Sample Sails App</a>
        </div>
        <div class="navbar-collapse collapse">

        <% if(req.session.authenticated){ %>          
          <ul class="nav navbar-nav">
            <li><a href="/project"><i class="glyphicon glyphicon-book"></i> Projects</a></li>
            <li><a href="/client"><i class="glyphicon glyphicon-user"></i> Clients</a></li>
          </ul> 

            <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><%- AppHelper.getCurrentDate('%B %m, %Y')%></a></li>
              <li><a href="/session/logout"><i class="glyphicon glyphicon-cog"></i> Profile Settings</a></li>
              <li><a href="/session/logout"><i class="glyphicon glyphicon-log-out"></i> Log Out</a></li>
            </ul>
        <% } %>
        
        </div><!--/.nav-collapse -->
      </div>
    </div>