<div id="popover-summary-display" style="display:none;">
  <div><strong>Date Completed:</strong> <span id="date-completed-replace"></span></div>
  <div><strong>Remarks: <br></strong> <span id="remarks-replace"></span></div>
</div><!-- #popover-summary-display -->